 table {
     border-collapse: collapse;
     width: 50%;
     margin: 20px auto;
 }

 th,
 td {
     border: 1px solid var(--laranja);
     text-align: center;
     width: 40px;
     height: 40px;
     padding: 16px;
 }

 th {
     background-color: #f4f4f4;
 }