table {
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
    border-radius: 4px;
    overflow: hidden;
}

th,
td {
    border: 2px solid var(--preto);
    text-align: center;
    width: 40px;
    padding: 16px;
}

th {
    background-color: #f4f4f4;
}